json plugin - last element in json output if empty string is <single> double quote

I'll provide examples soon, i'm noticing that if a string is empty - and - the the empty string is the last element in the json array, the output will contain 1 " 'double quote'... I believe the spec indicates always empty strings should be two "" 'two double quotes'...

example of what I mean:

....., ipfix.somevariable: " }

My downstream customers will have issues parsing this I think.

Spec at http://www.json.org about halfway down describing the "string" data flow...

When I get a chance i'll see if i can work out a hotfix.

sorry for the double post, I had to switch over to my MUCH slower work computer to gather this sample, this is a real json sample from collected flows (lab environment, nothing sensitive)

``{"@type": "ipfix.entry", "ipfix.FLOW_FIELD_TIME_ABS_MONITOR_START": 25305390354857984, "ipfix.FLOW_FIELD_INGRESS_BW_LONG": 372892726802528, "ipfix.FLOW_FIELD_MAX_INGRESS_BW": 606, "ipfix.FLOW_FIELD_EGRESS_BW_LONG": 1000, "ipfix.FLOW_FIELD_MAX_EGRESS_BW": 717, "ipfix.FLOW_FIELD_SOURCE_SITE_ID": "0.0.0.0", "ipfix.FLOW_FIELD_IPV4_PFR_BR_ADDR": "0.0.3.232", "ipfix.FLOW_FIELD_INTF_OUTPUT_SNMP_INDEX": 33686018, "ipfix.FLOW_FIELD_IP_VRF_ID_OUTPUT": 67372036, "ipfix.FLOW_FIELD_INTF_DESC": "}

I can't see the bug in the json code, it looks tight and well written.... :(


just my thought, i'll test it tomorrow.  I think if the string comes in as a null string, it gets printed to the stringWithEscseq char array, then followed with a trailing " which never makes it in the print to the json file.  So if the character incoming is '\0' what gets put into the array is '"', '\0', '"', '\0'....so when you go to print it to the json file, the printing stops at the first null termination it see's.  I think the router sometimes sends null characters in the data being sent.  Can't prove that, but i'll try it out and see if I fix this issue.  I know in other work i've done that Cisco loves to send nulls when they shouldn't.

I found that Cisco is sending tons of unprintable characters mixed in with real data, like lots of ^C's before actual real string data shows up, very odd.  Maybe there are still some NFv9 conversion issues, but I don't think so, I went through the incoming bytes pretty closely, it looks pretty good. 

Anyway, on line 155 in json/Storage.cpp, I replaced that line with these to eliminate all the non-printables (except the ones you already had configured).  Not perfect, Cisco still sending extra characters before legitimate data, probably some parsing rules on the data elements themselves or something.....

                default:                //PRINTABLE CHARACHTERS ONLY PASSED THIS POINT!!!!!
                                        if (pointer[index] >= ' ' && pointer[index] <= '~') {
                                                stringWithEscseq[index2++] = pointer[index];
                                        } else {
                                                MSG_DEBUG(msg_module, "Unprintable Character: (%X)", pointer[index]&0xFF);
                                        }
                                        break;




Thank you for the problem analysis, it saved me a lot of time. I have already captured IPFIX flow data with same wrong behavior during JSON conversion so I'm able to reproduce it. I will try to fix this issue today. Because non-printable characters are valid part of a string, they should be escaped (by default), but sometimes is better to "hide" them, so a will also add the plugin option for skipping these characters. 

Fixed in devel branch. If you want to "hide" non-printable characters you can add new option of JSON plugin into your configuration: <nonPrintableChar>no</nonPrintableChar>. 

@Lukas955 Thanks, i'll merge it tomorrow and run it.  Thanks!

@Lukas955 I merged in devel into my code to get your new json code (read string removed from Storage.cpp and new could in Translate)....   I'm still seeing the end of the string missing the traling doublequote

    {"@type": "ipfix.entry", "ipfix.FLOW_FIELD_CNT_BYTES_LONG": 1701668206, "ipfix.FLOW_FIELD_APP_NAME": 1949171712, "ipfix.applicationName": ", "ipfix.APPLICATION_DESCRIPTION": "World Wide Web traffic, "ipfix.originalExporterIPv6Address": "::ffff:3.3.3.3"}
    {"@type": "ipfix.entry", "ipfix.FLOW_FIELD_CNT_BYTES_LONG": 50529027, "ipfix.FLOW_FIELD_APP_NAME": 50331648, "ipfix.applicationName": ", "ipfix.APPLICATION_DESCRIPTION": ", "ipfix.originalExporterIPv6Address": "::ffff:3.3.3.3"}

You may not be handling a null in the code?  I looked at the code last night, don't remember seeing it handled, I'll try to fix today.  Your new solution looks more efficient in processing than the older way :)


Hi, to be honest I really don't know what to do right now. In the specification of IPFIX (RFC 7011, section 6.1.6) all string fields must be encoded in UTF-8, but in the memo of NetFlow v9 (RFC 3954) there is nothing about formats (thanks Cisco).
After few hours of investigation, I also found the description of relatively new Cisco Elements (applicationName, applicatoinDescription, etc.) for IPFIX (RFC 6759), but it wasn't too much helpful.
I concluded that your NetFlow exporters use some kind of (wierd) string enconding, probably ASN.1 (BER, PER, etc.) or something else, but without any specification I'm totally lost. 
On the other hand I'd like to check, if it's not a problem of Netflow-2-IPFIX conversion, but I don't have any flow samples with this behavior. If you want, you can send me samples and I'll try to check it.

I understand.  The incoming flows are in the problem issue that I sent to Petr, here  https://github.com/CESNET/ipfixcol/issues/118, it is about 20 minutes of incoming flows that I'm using.  Petr tcpwrite it to send to his development server.  The file is in a post near the bottom from 13 days ago.  If that doesn't work, I can easily capture more for you.  It is all lab equipment and dummy lab addresses, so all good.  I'm not sure what to do with it either except to just limit printing to between 20 and 7F (space to ~) and just convert everything else to u\xxxx and let the receiving system decipher it in their own need.  I know, i've dealt with nulls in supposedly ascii feeds before from Cisco :)

Update.... I'm fighting ghosts here so I'm going to try and get CESNET's convert.c to not core dump.  I'm getting very odd results from the convert.c I'm using.  Here are four back to back incoming records output from json:


    {"@type": "ipfix.entry", "ipfix.FLOW_FIELD_TIME_ABS_MONITOR_START": 1457352991488, "ipfix.FLOW_FIELD_INGRESS_BW_LONG": 372893551742578, "ipfix.FLOW_FIELD_MAX_INGRESS_BW": 39, "ipfix.FLOW_FIELD_EGRESS_BW_LONG": 1000, "ipfix.FLOW_FIELD_MAX_EGRESS_BW": 40, "ipfix.FLOW_FIELD_SOURCE_SITE_ID": "0.0.0.0", "ipfix.FLOW_FIELD_IPV4_PFR_BR_ADDR": "0.0.3.232", "ipfix.FLOW_FIELD_INTF_OUTPUT_SNMP_INDEX": 33686018, "ipfix.FLOW_FIELD_IP_VRF_ID_OUTPUT": 67372036, "ipfix.FLOW_FIELD_INTF_DESC": "\u0000\u0000\u0000\b\u0000\u0000\u0000\u0000", "ipfix.originalExporterIPv6Address": "::ffff:2.2.2.2"}
    {"@type": "ipfix.entry", "ipfix.FLOW_FIELD_TIME_ABS_MONITOR_START": 5291278161097523200, "ipfix.FLOW_FIELD_INGRESS_BW_LONG": 1457352998400, "ipfix.FLOW_FIELD_MAX_INGRESS_BW": 372893551749566, "ipfix.FLOW_FIELD_EGRESS_BW_LONG": 37, "ipfix.FLOW_FIELD_MAX_EGRESS_BW": 1000, "ipfix.FLOW_FIELD_SOURCE_SITE_ID": "0.0.0.0", "ipfix.FLOW_FIELD_IPV4_PFR_BR_ADDR": "0.0.0.35", "ipfix.FLOW_FIELD_INTF_OUTPUT_SNMP_INDEX": 0, "ipfix.FLOW_FIELD_IP_VRF_ID_OUTPUT": 1000, "ipfix.FLOW_FIELD_INTF_DESC": "\u0002\u0002\u0002\u0002\u0003\u0003\u0003\u0003", "ipfix.originalExporterIPv6Address": "::ffff:2.2.2.2"}
    {"@type": "ipfix.entry", "ipfix.FLOW_FIELD_TIME_ABS_MONITOR_START": 1457353021696, "ipfix.FLOW_FIELD_INGRESS_BW_LONG": 372893551959729, "ipfix.FLOW_FIELD_MAX_INGRESS_BW": 38, "ipfix.FLOW_FIELD_EGRESS_BW_LONG": 1000, "ipfix.FLOW_FIELD_MAX_EGRESS_BW": 40, "ipfix.FLOW_FIELD_SOURCE_SITE_ID": "0.0.0.0", "ipfix.FLOW_FIELD_IPV4_PFR_BR_ADDR": "0.0.3.232", "ipfix.FLOW_FIELD_INTF_OUTPUT_SNMP_INDEX": 33686018, "ipfix.FLOW_FIELD_IP_VRF_ID_OUTPUT": 67372036, "ipfix.FLOW_FIELD_INTF_DESC": "\u0000\u0000\u0000\b\u0000\u0000\u0000\u0000", "ipfix.originalExporterIPv6Address": "::ffff:2.2.2.2"}
    {"@type": "ipfix.entry", "ipfix.FLOW_FIELD_TIME_ABS_MONITOR_START": 5291278161097523200, "ipfix.FLOW_FIELD_INGRESS_BW_LONG": 1457353028608, "ipfix.FLOW_FIELD_MAX_INGRESS_BW": 372893551966716, "ipfix.FLOW_FIELD_EGRESS_BW_LONG": 36, "ipfix.FLOW_FIELD_MAX_EGRESS_BW": 1000, "ipfix.FLOW_FIELD_SOURCE_SITE_ID": "0.0.0.0", "ipfix.FLOW_FIELD_IPV4_PFR_BR_ADDR": "0.0.0.34", "ipfix.FLOW_FIELD_INTF_OUTPUT_SNMP_INDEX": 0, "ipfix.FLOW_FIELD_IP_VRF_ID_OUTPUT": 1000, "ipfix.FLOW_FIELD_INTF_DESC": "\u0002\u0002\u0002\u0002\u0003\u0003\u0003\u0003", "ipfix.originalExporterIPv6Address": "::ffff:2.2.2.2"}

The data seems nonsensical...  I'm not sure what I'm looking at.  When I look at one conversion, I don't understand the byte movement in the conversion:

![templatesetconversion_259](https://cloud.githubusercontent.com/assets/10326075/13581006/cc60b926-e472-11e5-84e4-f3fbf0915379.JPG)

The above is the template conversion, I don't understand why the data is getting converted/bytes added when there doesn't appear to be element 21 or element 22 in there for the need to add bytes...

![data_set_conversion_259](https://cloud.githubusercontent.com/assets/10326075/13581010/d591a910-e472-11e5-83c2-285f002bca90.JPG)

I have to restart and get Petr's better written convert.c to work and see if that helps me out.


@Lukas955  update, see https://github.com/CESNET/ipfixcol/issues/160, there is a bug in the convert.c which causes inserts of 8 bytes per data set invalidating the data when it should not be.